:root {
  --dark-blue: #222222;
  --pink: #f1e4e6;
  --dark-pink: #f16d7f;
  --grey: #9f9f9f;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: var(--dark-blue);
}

.header__wrapper {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: none;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__link {
  margin: 0 0 0 34px;
}

.promo {
  display: flex;
  margin: 0 0 63px;
}

.promo__heading-wrapper {
  background-color: var(--pink);
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 92px;
}

.promo__heading {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.promo__sub-heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.promo__sub-heading-pink {
  color: var(--dark-pink);
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categories__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 6px 0;
}
.categories__heading {
  font-size: 24px;
  line-height: 19px;
  color: var(--dark-pink);
  text-transform: uppercase;
}
.categories__item-woman {
  background: #fff url('../img/categories-woman.jpg') no-repeat;
  background-size: cover;
  margin: 0 30px 0 0;
}
.categories__item-man {
  background: #fff url('../img/categories-man.jpg') no-repeat;
  background-size: cover;
  margin: 0 30px 0 0;
}
.categories__item-kids {
  background: #fff url('../img/categories-kids.jpg') no-repeat;
  background-size: cover;
}
.categories__item-accessories {
  background: #fff url('../img/categories-accesories.jpg') no-repeat;
  background-size: cover;
  flex-grow: 1;
  margin: 30px 0 97px 0;
}
.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.products__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--grey);
  margin: 6px 0 48px 0;
}
.products__item {
  width: 360px;
  margin: 0 0 48px 0;
}
.products__item-woman {
  text-align: center;
  background-color: #f7e4e2;
  flex-grow: 1;
}
.products__item-heading {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  margin: 25px 0 12px 16px;
}
.products__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 29px 18px 16px;
}
.products__item-price {
  color: var(--dark-pink);
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 20px 18px;
}
.products__item-button {
  display: none;
}
.products__button {
  display: flex;
  margin: 0 auto 95px;
  padding: 14px 38px 13px;
  color: var(--dark-pink);
  border-color: var(--dark-pink);
}
.quality {
  background-color: var(--dark-blue);
}
.quality__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 103px 0;
}
.quality__item-img {
  margin: 0 0 28px;
}
.quality__item-heading {
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: #fbfbfb;
}
.quality__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  opacity: 0.7;
}
.footer__subscribe {
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__wrapper {
  background: rgba(244, 244, 244, 0.7);
}
.footer__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer__item-img {
  margin: 87px 0 0 0;
}
.footer__item-text {
  margin: 42px 0 126px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
}
.footer__item {
  margin: 150px 0 156px;
}
.footer__item-heading {
  text-transform: uppercase;
  font-style: normal;
  line-height: 167.2%;
  color: #222224;
  font-weight: bold;
  font-size: 24px;
}
.footer__item__sub-text {
  text-transform: uppercase;
  font-style: normal;
  line-height: 167.2%;
  color: #222224;
  font-weight: normal;
  margin: 0 0 32px;
  font-size: 20px;
}
.footer__item-input {
  padding: 16px 0 14px 22px;
  width: 256px;
  border-radius: 25px 0 0 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  border: none;
  background: #e1e1e1;
}
.footer__item-button {
  padding: 16px 14px 14px 16px;
  border-radius: 0 25px 25px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background-color: var(--dark-pink);
}
.footer__contacts {
  background-color: var(--dark-blue);
}
.footer__contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright-heading {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.footer__social-list {
  display: flex;
}
.footer__social-item {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 7px;
}
.footer__social-img {
}
