<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Shop</title>
  </head>
  <body>
    @@include("../blocks/modules/header/header.html")
    <main>
      <section class="promo">
        <img
          class="promo__img"
          src="./img/man.png"
          alt="man"
          width="800"
          height="765"
        />
        <div class="promo__heading-wrapper">
          <h1 class="promo__heading">
            The brand
            <span class="promo__sub-heading"
              >of luxerious
              <span class="promo__sub-heading-pink">fashion</span></span
            >
          </h1>
        </div>
      </section>
      <section class="categories container">
        <h2 class="visually-hidden">Categories</h2>
        <ul class="categories__list">
          <li class="categories__item categories__item-woman">
            <p class="categories__text">30% off</p>
            <h3 class="categories__heading">for woman</h3>
          </li>
          <li class="categories__item categories__item-man">
            <p class="categories__text">hot deal</p>
            <h3 class="categories__heading">for man</h3>
          </li>
          <li class="categories__item categories__item-kids">
            <p class="categories__text">new arrivals</p>
            <h3 class="categories__heading">for kids</h3>
          </li>
          <li class="categories__item categories__item-accessories">
            <p class="categories__text">luxerious & trendy</p>
            <h3 class="categories__heading">accesories</h3>
          </li>
        </ul>
      </section>
      <section class="products">
        <h2 class="products__heading">Fetured Items</h2>
        <p class="products__text">
          Shop for items based on what we featured in this week
        </p>
        <ul class="container products__list">
          <li class="products__item">
            <img
              class="products__item-img"
              src="./img/product-1.jpg"
              alt="product-1"
              width="360"
              height="420"
            />
            <h3 class="products__item-heading">ellery x m'o capsule</h3>
            <p class="products__item-text">
              Known for her sculptural takes on traditional tailoring,
              Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
            </p>
            <p class="products__item-price">$52.00</p>
            <button class="products__item-button" type="button">
              Add to Cart
            </button>
          </li>
          <li class="products__item">
            <div class="products__item-woman">
              <img
                class="products__item-img"
                src="./img/product-2.png"
                alt="product-2"
                width="142"
                height="420"
              />
            </div>
            <h3 class="products__item-heading">ellery x m'o capsule</h3>
            <p class="products__item-text">
              Known for her sculptural takes on traditional tailoring,
              Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
            </p>
            <p class="products__item-price">$52.00</p>
            <button class="products__item-button" type="button">
              Add to Cart
            </button>
          </li>
          <li class="products__item">
            <img
              class="products__item-img"
              src="./img/product-3.jpg"
              alt="product-3"
              width="360"
              height="420"
            />
            <h3 class="products__item-heading">ellery x m'o capsule</h3>
            <p class="products__item-text">
              Known for her sculptural takes on traditional tailoring,
              Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
            </p>
            <p class="products__item-price">$52.00</p>
            <button class="products__item-button" type="button">
              Add to Cart
            </button>
          </li>
          <li class="products__item">
            <img
              class="products__item-img"
              src="./img/product-4.jpg"
              alt="product-4"
              width="360"
              height="420"
            />
            <h3 class="products__item-heading">ellery x m'o capsule</h3>
            <p class="products__item-text">
              Known for her sculptural takes on traditional tailoring,
              Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
            </p>
            <p class="products__item-price">$52.00</p>
            <button class="products__item-button" type="button">
              Add to Cart
            </button>
          </li>
          <li class="products__item">
            <img
              class="products__item-img"
              src="./img/product-5.jpg"
              alt="product-5"
              width="360"
              height="420"
            />
            <h3 class="products__item-heading">ellery x m'o capsule</h3>
            <p class="products__item-text">
              Known for her sculptural takes on traditional tailoring,
              Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
            </p>
            <p class="products__item-price">$52.00</p>
            <button class="products__item-button" type="button">
              Add to Cart
            </button>
          </li>
          <li class="products__item">
            <img
              class="products__item-img"
              src="./img/product-6.jpg"
              alt="product-6"
              width="360"
              height="420"
            />
            <h3 class="products__item-heading">ellery x m'o capsule</h3>
            <p class="products__item-text">
              Known for her sculptural takes on traditional tailoring,
              Australian arbiter of cool Kym Ellery teams up with Moda Operandi.
            </p>
            <p class="products__item-price">$52.00</p>
            <button class="products__item-button" type="button">
              Add to Cart
            </button>
          </li>
        </ul>
        <button class="products__button" type="button">
          Browse All Product
        </button>
      </section>
      <section class="quality">
        <ul class="quality__list container">
          <li class="quality__item">
            <img
              class="quality__item-img"
              src="./img/svg/delivery.svg"
              alt="delivery"
              width="45"
              height="32"
            />
            <h2 class="quality__item-heading">Free Delivery</h2>
            <p class="quality__item-text">
              Worldwide delivery on all. Authorit tively morph next-generation
              innov tion with extensive models.
            </p>
          </li>
          <li class="quality__item">
            <img
              class="quality__item-img"
              src="./img/svg/sales.svg"
              alt="sales"
              width="40"
              height="40"
            />
            <h2 class="quality__item-heading">Sales & discounts</h2>
            <p class="quality__item-text">
              Worldwide delivery on all. Authorit tively morph next-generation
              innov tion with extensive models.
            </p>
          </li>
          <li class="quality__item">
            <img
              class="quality__item-img"
              src="./img/svg/quality.svg"
              alt="quality"
              width="47"
              height="35"
            />
            <h2 class="quality__item-heading">Quality assurance</h2>
            <p class="quality__item-text">
              Worldwide delivery on all. Authorit tively morph next-generation
              innov tion with extensive models.
            </p>
          </li>
        </ul>
      </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
  </body>
</html>
